/* Fonts styles */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{
    background-color: #4d47ff07;
}
/* Button design */
.btn-primary{
    color: #FFFFFF;
    background-color: #4E47FF;
    font-weight: bold;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    font-size: 16px;

}
/* Nav styles */

.nav-title{
    color: #4E47FF;
    /* font-weight: 3000000; */
    font-size: 46px;
    font-weight: 800;

}
.nav-title-2{
    color: #4E47FF;
    font-size: 65px;
    font-weight: 800;
    margin-bottom: 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 150px 10px 150px ;
}
/* Banner content style */
.banner-content {
    display: flex;              
    flex-direction: column;    
    justify-content: center;    
    align-items: center;       
    text-align: center;
    margin: 100px; 
    font-size: 40px;        
}
.banner {
  background-image: url('../Assets/Hero-bg.png'); 
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;  
  text-align: center;
  padding: 50px;
}

/* Shared styles */
.title{
    font-size: 42px;
    font-weight: bold ;
    color: black;
    
}
.title-p{
    font-weight: 200;
    font-size: 24px;
    color: #252432;
}
/* Section 1 styles */
.section1{
    display: flex;
    justify-content: space-around;
    margin: 100px 50px 140px 50px;
    gap: 200px;
}
.section1-div h2,p{
    text-align: left;
    margin-bottom: 36px;
    
}
.section1-img{
    border-radius: 40px;
}

/* Section2 styles */
.section2{
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 30px  ;
    margin: 30px 150px;
    border-radius: 15px;
}
.section2 p{
    color: black;
    opacity: 50%;
    margin: 0;
    
} 
.info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Section3 styles */
.section3{
    padding: 60px 100px;

}
.section3  h2{
    text-align: center;
    margin-bottom: 20px;
}
.users-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}
.user1{
    background-color: rgba(255, 255, 255, 0.5) ;
    border-radius: 15px;
    padding: 20px;
    text-align: left;
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 2px rgba(168, 166, 166, 0.124);
}

.star i{
    color: #FFB805 ;
    font-size: 18px;
}
.user-footer{
    display: flex;
    gap: 10px;
    align-items: center;
}
.user-footer img{
    border-radius: 50px;
}
/* Section 4 styles */

.section4{
    text-align: center;
    display: flex;
    justify-content: center;
    /* background-color: white; */
    /* padding: 20px 50px; */
}
.section4-div{
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 200px;
    background-color: white;
    border-radius: 20px;
}

.section4-img{
    border-radius: 20px;
    width: 100%;
    max-width: 700px;
    height: 50%;
    border-radius: 40px;
}
.section4-div h2,button,p, img{
    margin: 10px 10px ;
}